.CardsSocial {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.CardsSocial img {
    width: 36px;
    height: 36px;
}
@media only screen and (max-width: 600px) {
	.CardsSocial {
		width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 27px;
	}
}