.card__name{
    color: #1f294f;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    font-size: 24px;
}
.card__profesion{
    color: #1f294f;
    text-align: center;
    margin-top: 2px;
}
.card__p{
    color: #1f294f;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 25px;
}