
.card {
	width: 500px;
    height: 700px;
    border: 2px solid white;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	.card {
        width: 317px;
        height: 578px;
        border: 2px solid white;
        border-radius: 70px;
        overflow: hidden;
        box-sizing: border-box;
    }
}